<a href="https://colab.research.google.com/github/lukaszek358/Data_Science_Bootcamp/blob/main/2_Pandas/4_Data_Science_Bootcamp_w_j%C4%99zyku_Python_od_A_do_Z_Analiza_Danych_Pandas_%C5%81%C4%85czenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```

#Import bibliotek

In [2]:
import pandas as pd
import numpy as np

#Pobieranie danych

In [3]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

Określone bazy danych dla spółek notowanych na giełdzie zapisujemy jako zmienne (nazwa spółki)

In [4]:
apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [5]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-05-03 to 2018-05-07
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [6]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1003 entries, 2023-05-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1003 non-null   float64
 1   High    1003 non-null   float64
 2   Low     1003 non-null   float64
 3   Close   1003 non-null   float64
 4   Volume  1003 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 47.0 KB

In [7]:
apple.head()

              Open    High       Low   Close      Volume
Date
2023-05-03  169.50  170.92  167.1600  167.45  65136018.0
2023-05-02  170.09  170.35  167.5400  168.54  48425696.0
2023-05-01  169.28  170.45  168.6400  169.59  52472936.0
2023-04-28  168.49  169.85  167.8801  169.68  55275851.0
2023-04-27  165.19  168.56  165.1900  168.41  64902329.0

In [8]:
google.head()

              Open    High     Low   Close    Volume
Date
2023-05-03  105.53  107.49  104.96  105.41  21795405
2023-05-02  107.14  107.20  103.71  105.32  30997245
2023-05-01  106.84  107.99  106.82  107.20  26681680
2023-04-28  107.04  107.35  105.09  107.34  36139847
2023-04-27  104.45  108.37  103.54  107.59  50089187

#Preprocesing

Przetwarzamy nazwy naszych kolumn

In [9]:
#dodawanie przedrostka 'apple_' do każdej z kolumn w bazie apple + użyjemy metody .lower aby zmienić nazwy kolumn na małe litery
apple.columns = ['apple_' + col.lower() for col in apple.columns]

In [10]:
#robimy tak również dla pozostałych df
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]

uber.columns = ['uber_' + col.lower() for col in uber.columns]

google.columns = ['google_' + col.lower() for col in google.columns]

In [11]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-05-03      169.50      170.92   167.1600       167.45    65136018.0
2023-05-02      170.09      170.35   167.5400       168.54    48425696.0
2023-05-01      169.28      170.45   168.6400       169.59    52472936.0
2023-04-28      168.49      169.85   167.8801       169.68    55275851.0
2023-04-27      165.19      168.56   165.1900       168.41    64902329.0

# Konkatenacja danych

W programowaniu oznacza łączenie dwóch wyrażeń (np. tekstowych) w jedno (ustawienie jednego za drugim).

In [12]:
pd.concat(objs = [apple, amazon, google, uber], axis = 1) #axis = 1 - łączenie po kolumnach/ dodawanie jako kolumny

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-05-07,44.2012,44.7954,44.0974,44.1962,1.778486e+08,79.4670,80.3475,79.3915,80.0070,76037100,52.6945,53.2500,52.5135,52.9730,34399420,NaN,NaN,NaN,NaN,NaN
2018-05-08,44.1534,44.4505,43.8423,44.4115,1.189923e+08,79.7500,79.8440,79.1255,79.6195,61358980,53.2310,53.2615,52.5820,52.9295,26030480,NaN,NaN,NaN,NaN,NaN
2018-05-09,44.5281,44.7286,44.2112,44.7196,9.724260e+07,80.0000,80.4000,79.6000,80.4000,72746040,53.2050,54.7000,53.1055,54.4475,47159580,NaN,NaN,NaN,NaN,NaN
2018-05-10,44.8133,45.4394,44.7914,45.3587,1.172600e+08,80.4240,80.7800,80.1720,80.4540,56349000,54.7500,55.4705,54.6940,55.2735,36413520,NaN,NaN,NaN,NaN,NaN
2018-05-11,45.4025,45.5411,44.9180,45.1891,1.093933e+08,80.5495,80.5550,79.8945,80.1660,45278000,55.0205,55.4505,54.8610,55.1690,30504360,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-27,165.1900,168.5600,165.1900,168.4100,6.490233e+07,108.1600,110.8600,106.8000,109.8200,149961167,104.4500,108.3700,103.5400,107.5900,50089187,30.07,30.1699,29.220,29.70,27293660.0
2023-04-28,168.4900,169.8500,167.8801,169.6800,5.527585e+07,107.7300,109.4800,104.3300,105.4500,130715946,107.0400,107.3500,105.0900,107.3400,36139847,29.62,31.2700,29.415,31.05,28516085.0
2023-05-01,169.2800,170.4500,168.6400,169.5900,5.247294e+07,104.9500,105.2300,101.8200,102.0500,74728096,106.8400,107.9900,106.8200,107.2000,26681680,32.00,33.0000,31.760,32.74,49867118.0
2023-05-02,170.0900,170.3500,167.5400,168.5400,4.842570e+07,101.4700,103.9000,101.1500,103.6300,73469350,107.1400,107.2000,103.7100,105.3200,30997245,35.02,36.6250,34.230,36.52,102993471.0
2023-05-03,169.5000,170.9200,167.1600,167.4500,6.513602e+07,103.7350,105.9600,103.2800,103.6500,65051925,105.5300,107.4900,104.9600,105.4100,21795405,36.75,38.3500,36.350,37.84,68580803.0

In [13]:
#przypisanie naszych połączonych danych do zmiennej df
df = pd.concat(objs = [apple, amazon, google, uber], axis = 1)

#wyświetlenie opisu danych znajdujących się w tabeli df (wraz z transponowaniem - czytelniejsza wersja)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.0,1.042412e+02,4.607165e+01,3.474310e+01,5.313000e+01,1.178010e+02,1.462630e+02,1.815760e+02
apple_high,1257.0,1.055128e+02,4.665337e+01,3.515880e+01,5.368130e+01,1.191560e+02,1.478890e+02,1.818850e+02
apple_low,1257.0,1.030525e+02,4.551442e+01,3.426350e+01,5.228060e+01,1.158970e+02,1.446090e+02,1.780870e+02
apple_close,1257.0,1.043418e+02,4.610983e+01,3.430940e+01,5.315980e+01,1.176410e+02,1.461580e+02,1.809580e+02
apple_volume,1257.0,1.133808e+08,5.585348e+07,3.519586e+07,7.693430e+07,9.787319e+07,1.321949e+08,4.347085e+08
amazon_open,1257.0,1.216901e+02,3.386757e+01,6.730000e+01,9.138750e+01,1.081600e+02,1.583380e+02,1.872000e+02
amazon_high,1257.0,1.231803e+02,3.420888e+01,6.980150e+01,9.220000e+01,1.109900e+02,1.599380e+02,1.886540e+02
amazon_low,1257.0,1.200576e+02,3.345796e+01,6.535000e+01,9.039150e+01,1.066000e+02,1.562500e+02,1.848400e+02
amazon_close,1257.0,1.216291e+02,3.379103e+01,6.719800e+01,9.116200e+01,1.085110e+02,1.581000e+02,1.865700e+02
amazon_volume,1257.0,8.314245e+07,3.820527e+07,1.762674e+07,5.747536e+07,7.219740e+07,9.792202e+07,3.113457e+08
google_open,1257.0,8.866690e+01,2.976260e+01,4.921600e+01,6.055550e+01,8.340050e+01,1.126400e+02,1.512500e+02
google_high,1257.0,8.967943e+01,3.005427e+01,5.060600e+01,6.103880e+01,8.500000e+01,1.140140e+02,1.515470e+02
google_low,1257.0,8.768065e+01,2.940731e+01,4.888300e+01,6.015950e+01,8.147650e+01,1.114600e+02,1.488990e+02
google_close,1257.0,8.870571e+01,2.972568e+01,4.923350e+01,6.055000e+01,8.275400e+01,1.127210e+02,1.498380e+02
google_volume,1257.0,3.482085e+07,1.550564e+07,9.312760e+06,2.506828e+07,3.102650e+07,3.995834e+07,1.331771e+08
uber_open,1003.0,3.697979e+01,9.597307e+00,1.596000e+01,3.006000e+01,3.422000e+01,4.380000e+01,6.325000e+01
uber_high,1003.0,3.773675e+01,9.675228e+00,1.780000e+01,3.059340e+01,3.493500e+01,4.437500e+01,6.405000e+01
uber_low,1003.0,3.615454e+01,9.440643e+00,1.371000e+01,2.937500e+01,3.351000e+01,4.306000e+01,6.080000e+01
uber_close,1003.0,3.694738e+01,9.537275e+00,1.482000e+01,3.007500e+01,3.426000e+01,4.365500e+01,6.318000e+01
uber_volume,1003.0,2.550888e+07,1.656332e+07,3.380003e+06,1.573510e+07,2.176342e+07,3.037514e+07,1.863225e+08

In [14]:
#zmiana notacji wykładniczej na czytelniejszą, do dwóch miejsc po przecinku

pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,104.24,46.07,34.74,53.13,117.80,146.26,181.58
apple_high,1257.00,105.51,46.65,35.16,53.68,119.16,147.89,181.88
apple_low,1257.00,103.05,45.51,34.26,52.28,115.90,144.61,178.09
apple_close,1257.00,104.34,46.11,34.31,53.16,117.64,146.16,180.96
apple_volume,1257.00,113380760.83,55853475.23,35195860.00,76934297.47,97873193.36,132194901.57,434708544.96
amazon_open,1257.00,121.69,33.87,67.30,91.39,108.16,158.34,187.20
amazon_high,1257.00,123.18,34.21,69.80,92.20,110.99,159.94,188.65
amazon_low,1257.00,120.06,33.46,65.35,90.39,106.60,156.25,184.84
amazon_close,1257.00,121.63,33.79,67.20,91.16,108.51,158.10,186.57
amazon_volume,1257.00,83142450.36,38205267.97,17626740.00,57475365.00,72197400.00,97922020.00,311345660.00
google_open,1257.00,88.67,29.76,49.22,60.56,83.40,112.64,151.25
google_high,1257.00,89.68,30.05,50.61,61.04,85.00,114.01,151.55
google_low,1257.00,87.68,29.41,48.88,60.16,81.48,111.46,148.90
google_close,1257.00,88.71,29.73,49.23,60.55,82.75,112.72,149.84
google_volume,1257.00,34820854.01,15505641.72,9312760.00,25068280.00,31026500.00,39958340.00,133177100.00
uber_open,1003.00,36.98,9.60,15.96,30.06,34.22,43.80,63.25
uber_high,1003.00,37.74,9.68,17.80,30.59,34.94,44.38,64.05
uber_low,1003.00,36.15,9.44,13.71,29.38,33.51,43.06,60.80
uber_close,1003.00,36.95,9.54,14.82,30.07,34.26,43.66,63.18
uber_volume,1003.00,25508880.94,16563318.84,3380003.00,15735101.00,21763417.00,30375141.50,186322536.00

In [15]:
#wyświetlenie współczynnika korelacji
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.38,0.68,0.69,0.67,0.68,-0.28,0.91,0.91,0.91,0.91,-0.08,0.05,0.06,0.06,0.05,0.10
apple_high,1.00,1.00,1.00,1.00,-0.37,0.68,0.68,0.67,0.68,-0.28,0.91,0.91,0.91,0.91,-0.08,0.05,0.05,0.05,0.05,0.11
apple_low,1.00,1.00,1.00,1.00,-0.39,0.68,0.69,0.68,0.68,-0.29,0.91,0.91,0.91,0.91,-0.09,0.06,0.06,0.06,0.06,0.10
apple_close,1.00,1.00,1.00,1.00,-0.38,0.68,0.69,0.67,0.68,-0.28,0.91,0.91,0.91,0.91,-0.09,0.05,0.05,0.05,0.05,0.10
apple_volume,-0.38,-0.37,-0.39,-0.38,1.00,-0.15,-0.15,-0.16,-0.16,0.59,-0.40,-0.40,-0.41,-0.41,0.46,-0.14,-0.14,-0.16,-0.15,0.22
amazon_open,0.68,0.68,0.68,0.68,-0.15,1.00,1.00,1.00,1.00,-0.19,0.75,0.75,0.76,0.75,-0.11,0.59,0.60,0.59,0.60,-0.03
amazon_high,0.69,0.68,0.69,0.69,-0.15,1.00,1.00,1.00,1.00,-0.18,0.76,0.76,0.76,0.76,-0.11,0.59,0.59,0.59,0.59,-0.03
amazon_low,0.67,0.67,0.68,0.67,-0.16,1.00,1.00,1.00,1.00,-0.21,0.75,0.75,0.75,0.75,-0.13,0.60,0.61,0.61,0.61,-0.04
amazon_close,0.68,0.68,0.68,0.68,-0.16,1.00,1.00,1.00,1.00,-0.20,0.75,0.75,0.76,0.75,-0.12,0.59,0.60,0.59,0.60,-0.04
amazon_volume,-0.28,-0.28,-0.29,-0.28,0.59,-0.19,-0.18,-0.21,-0.20,1.00,-0.30,-0.30,-0.31,-0.30,0.54,-0.16,-0.15,-0.17,-0.16,0.24
google_open,0.91,0.91,0.91,0.91,-0.40,0.75,0.76,0.75,0.75,-0.30,1.00,1.00,1.00,1.00,-0.13,0.23,0.24,0.24,0.23,0.10
google_high,0.91,0.91,0.91,0.91,-0.40,0.75,0.76,0.75,0.75,-0.30,1.00,1.00,1.00,1.00,-0.12,0.23,0.23,0.23,0.23,0.10
google_low,0.91,0.91,0.91,0.91,-0.41,0.76,0.76,0.75,0.76,-0.31,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_close,0.91,0.91,0.91,0.91,-0.41,0.75,0.76,0.75,0.75,-0.30,1.00,1.00,1.00,1.00,-0.13,0.23,0.24,0.24,0.23,0.09
google_volume,-0.08,-0.08,-0.09,-0.09,0.46,-0.11,-0.11,-0.13,-0.12,0.54,-0.13,-0.12,-0.14,-0.13,1.00,-0.16,-0.15,-0.17,-0.16,0.27
uber_open,0.05,0.05,0.06,0.05,-0.14,0.59,0.59,0.60,0.59,-0.16,0.23,0.23,0.24,0.23,-0.16,1.00,1.00,1.00,0.99,-0.20
uber_high,0.06,0.05,0.06,0.05,-0.14,0.60,0.59,0.61,0.60,-0.15,0.24,0.23,0.24,0.24,-0.15,1.00,1.00,1.00,1.00,-0.18
uber_low,0.06,0.05,0.06,0.05,-0.16,0.59,0.59,0.61,0.59,-0.17,0.24,0.23,0.24,0.24,-0.17,1.00,1.00,1.00,1.00,-0.22
uber_close,0.05,0.05,0.06,0.05,-0.15,0.60,0.59,0.61,0.60,-0.16,0.23,0.23,0.24,0.23,-0.16,0.99,1.00,1.00,1.00,-0.20
uber_volume,0.10,0.11,0.10,0.10,0.22,-0.03,-0.03,-0.04,-0.04,0.24,0.10,0.10,0.09,0.09,0.27,-0.20,-0.18,-0.22,-0.20,1.00

In [16]:
#zwrócenie wsyztskich dostępnych kolumn w naszym df
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [17]:
#zwrócenie kolumn zakończonych zwrotem 'close' - list_comprehension

closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [18]:
#df składający się tylko z kolumn zamknięcia
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-05-07        44.20         80.01         52.97         NaN
2018-05-08        44.41         79.62         52.93         NaN
2018-05-09        44.72         80.40         54.45         NaN
2018-05-10        45.36         80.45         55.27         NaN
2018-05-11        45.19         80.17         55.17         NaN
...                 ...           ...           ...         ...
2023-04-27       168.41        109.82        107.59       29.70
2023-04-28       169.68        105.45        107.34       31.05
2023-05-01       169.59        102.05        107.20       32.74
2023-05-02       168.54        103.63        105.32       36.52
2023-05-03       167.45        103.65        105.41       37.84

[1257 rows x 4 columns]

In [19]:
#korelacja dla zmiennych z powyższej tabeli
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.68          0.91        0.05
amazon_close         0.68          1.00          0.75        0.60
google_close         0.91          0.75          1.00        0.23
uber_close           0.05          0.60          0.23        1.00

In [20]:
#df składający się tylko z kolumn zamknięcia i wolumenu obrotu
closes_volume = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
df[closes_volume]

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
Date,,,,,,,,
2018-05-07,44.20,177848592.64,80.01,76037100,52.97,34399420,NaN,NaN
2018-05-08,44.41,118992344.40,79.62,61358980,52.93,26030480,NaN,NaN
2018-05-09,44.72,97242599.77,80.40,72746040,54.45,47159580,NaN,NaN
2018-05-10,45.36,117260043.58,80.45,56349000,55.27,36413520,NaN,NaN
2018-05-11,45.19,109393252.16,80.17,45278000,55.17,30504360,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-04-27,168.41,64902329.00,109.82,149961167,107.59,50089187,29.70,27293660.00
2023-04-28,169.68,55275851.00,105.45,130715946,107.34,36139847,31.05,28516085.00
2023-05-01,169.59,52472936.00,102.05,74728096,107.20,26681680,32.74,49867118.00
2023-05-02,168.54,48425696.00,103.63,73469350,105.32,30997245,36.52,102993471.00
2023-05-03,167.45,65136018.00,103.65,65051925,105.41,21795405,37.84,68580803.00

In [21]:
#korelacja dla zmiennych z powyższej tabeli
df[closes_volume].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.38,0.68,-0.28,0.91,-0.09,0.05,0.10
apple_volume,-0.38,1.00,-0.16,0.59,-0.41,0.46,-0.15,0.22
amazon_close,0.68,-0.16,1.00,-0.20,0.75,-0.12,0.60,-0.04
amazon_volume,-0.28,0.59,-0.20,1.00,-0.30,0.54,-0.16,0.24
google_close,0.91,-0.41,0.75,-0.30,1.00,-0.13,0.23,0.09
google_volume,-0.09,0.46,-0.12,0.54,-0.13,1.00,-0.16,0.27
uber_close,0.05,-0.15,0.60,-0.16,0.23,-0.16,1.00,-0.20
uber_volume,0.10,0.22,-0.04,0.24,0.09,0.27,-0.20,1.00

#Metoda .append()

Metoda .append() pozwala dorzucać dane do modelu DataFrame.

UWAGA!!! Działa w momencie, gdy mamy te same kolumny w obu DataFrame !!!

In [22]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-05-03      36.75      38.35     36.35       37.84     68580803
2023-05-02      35.02      36.62     34.23       36.52    102993471
2023-05-01      32.00      33.00     31.76       32.74     49867118
2023-04-28      29.62      31.27     29.41       31.05     28516085
2023-04-27      30.07      30.17     29.22       29.70     27293660

In [28]:
#wycinamy dane dla czerwca z DataFrame 'uber'
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [29]:
#wycinamy dane dla lipca z DataFrame 'uber'
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [33]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

<ipython-input-33-aae1becbefc8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_6_7 = uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]