<a href="https://colab.research.google.com/github/lukaszek358/Data_Science_Bootcamp/blob/main/2_Pandas/5_Data_Science_Bootcamp_w_j%C4%99zyku_Python_od_A_do_Z_Analiza_Danych_Pandas_Case_Study_II_(AppStore_Data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```

#Import bibliotek

In [1]:
import numpy as np
import pandas as pd

#Pobranie i załadowanie danych

In [3]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/appstore_games.csv'
#df_raw - 'raw' mówi nam, że nasze dane na obecną chwilę w DataFrame są surowe (nieobrobione/ nieprzygotowane)
df_raw = pd.read_csv(url)

In [4]:
df_raw.head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

#Wstępne przygotowanie danych

In [10]:
print(df_raw.columns, '\n')
df = df_raw.copy()
df.info()

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17007 entries, 0 to 17006
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   URL                           17007 non-null  object
 1   ID                            17007 non-null  int64
 2   Name                          17007 non-null  object
 3   Subtitle                      5261 non-null   object
 4   Icon URL                      17007 non-null  object
 5   Average User Rating           7561 non-null   float64
 6   User Rating Count             7561 non-null   float64
 7   Price                         16983 non-null  float64
 8   In-app Purchases              7683 non-null   object
 9   Description                   17007 non-null  object
 10  Developer                     17007 non-null  object
 11  Age Rating                    17007 non-null  object
 12  Languages                     16947 non-null  object
 13  Size                          17006 non-null  float64
 14  Primary Genre                 17007 non-null  object
 15  Genres                        17007 non-null  object
 16  Original Release Date         17007 non-null  object
 17  Current Version Release Date  17007 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ MB

Usuwanie kolumn z naszego DF - usuwamy kolumny, które Nas nie interesują.

In [ ]:
df = df.drop(columns = ['URL', 'Icon URL', 'Subtitle', 'Description', 'In-app Purchases'])

In [15]:
df.head()

,ID,Name,Average User Rating,User Rating Count,Price,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,284921427,Sudoku,4.0,3553.0,2.99,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,284926400,Reversi,3.5,284.0,1.99,Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,284946595,Morocco,3.0,8376.0,0.00,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,285755462,Sudoku (Free),3.5,190394.0,0.00,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,285831220,Senet Deluxe,3.5,28.0,2.99,RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [20]:
#wykorzystanie kolumny ID jako kolumny indeksów
df = df.set_index('ID')

KeyError: ignored

In [21]:
df.head()

,Name,Average User Rating,User Rating Count,Price,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
ID,,,,,,,,,,,,
284921427,Sudoku,4.0,3553.0,2.99,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,Reversi,3.5,284.0,1.99,Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
284946595,Morocco,3.0,8376.0,0.00,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
285755462,Sudoku (Free),3.5,190394.0,0.00,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
285831220,Senet Deluxe,3.5,28.0,2.99,RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

Wyświetlan ie statystyk naszego DF - describe() zwróci nam tylko informacje dla danych numerycznych.

In [22]:
df.describe()

       Average User Rating  User Rating Count         Price          Size
count          7561.000000       7.561000e+03  16983.000000  1.700600e+04
mean              4.060905       3.306531e+03      0.813419  1.157064e+08
std               0.751428       4.232256e+04      7.835732  2.036477e+08
min               1.000000       5.000000e+00      0.000000  5.132800e+04
25%               3.500000       1.200000e+01      0.000000  2.295014e+07
50%               4.500000       4.600000e+01      0.000000  5.676895e+07
75%               4.500000       3.090000e+02      0.000000  1.330271e+08
max               5.000000       3.032734e+06    179.990000  4.005591e+09

W komendzie musimy wykorzystać warunek, który spowoduje wzięcie pod uwagę danych kategorycznych.

In [23]:
df.describe(include = ['object']) #object - typ danych kategorycznych (tekstowych)

,Name,Developer,Age Rating,Languages,Primary Genre,Genres,Original Release Date,Current Version Release Date
count,17007,17007,17007,16947,17007,17007,17007,17007
unique,16847,8693,4,990,21,1004,3084,2512
top,Additions,Tapps Tecnologia da Informa\xe7\xe3o Ltda.,4+,EN,Games,"Games, Strategy, Puzzle",2/09/2016,1/08/2019
freq,2,123,11806,12467,16286,778,75,118

In [24]:
df.describe(include = ['object']).T

,count,unique,top,freq
Name,17007,16847,Additions,2
Developer,17007,8693,Tapps Tecnologia da Informa\xe7\xe3o Ltda.,123
Age Rating,17007,4,4+,11806
Languages,16947,990,EN,12467
Primary Genre,17007,21,Games,16286
Genres,17007,1004,"Games, Strategy, Puzzle",778
Original Release Date,17007,3084,2/09/2016,75
Current Version Release Date,17007,2512,1/08/2019,118

## Standaryzacja nazw kolumn

In [26]:
df.columns

Index(['Name', 'Average User Rating', 'User Rating Count', 'Price',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [27]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.head()

,name,average_user_rating,user_rating_count,price,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
ID,,,,,,,,,,,,
284921427,Sudoku,4.0,3553.0,2.99,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,Reversi,3.5,284.0,1.99,Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
284946595,Morocco,3.0,8376.0,0.00,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
285755462,Sudoku (Free),3.5,190394.0,0.00,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
285831220,Senet Deluxe,3.5,28.0,2.99,RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

# Badanie rozkładu zmiennych

In [31]:
df.columns

Index(['name', 'average_user_rating', 'user_rating_count', 'price',
       'developer', 'age_rating', 'languages', 'size', 'primary_genre',
       'genres', 'original_release_date', 'current_version_release_date'],
      dtype='object')

In [30]:
df.head(2)

,name,average_user_rating,user_rating_count,price,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
ID,,,,,,,,,,,,
284921427,Sudoku,4.0,3553.0,2.99,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,Reversi,3.5,284.0,1.99,Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018

In [32]:
#sprawdzamy częstość/liczność wystąpienia każdego obiektu w kolumnie primary_genre
df.primary_genre.value_counts()

Games                16286
Education              222
Entertainment          198
Utilities               77
Sports                  60
Reference               32
Stickers                29
Finance                 18
Business                16
Productivity            15
Lifestyle               10
Book                     9
Social Networking        9
News                     7
Health & Fitness         5
Food & Drink             4
Music                    3
Navigation               3
Medical                  2
Travel                   1
Shopping                 1
Name: primary_genre, dtype: int64

In [33]:
#zwracamy 5 najbardziej popularnych gatunków

df.primary_genre.value_counts().nlargest(5)

Games            16286
Education          222
Entertainment      198
Utilities           77
Sports              60
Name: primary_genre, dtype: int64

In [34]:
#zwracamy 5 najbardziej popularnych gatunków (same nazwy !)
df.primary_genre.value_counts().nlargest(5).index

Index(['Games', 'Education', 'Entertainment', 'Utilities', 'Sports'], dtype='object')

In [35]:
#konwersja powyższych danych do listy
list(df.primary_genre.value_counts().nlargest(5).index)

['Games', 'Education', 'Entertainment', 'Utilities', 'Sports']

In [43]:
#sprawdzamy częstość/liczność wystąpienia każdego obiektu w kolumnie age_rating - wygenerowane jako lista
list(df.age_rating.value_counts().index)

['4+', '9+', '12+', '17+']

In [44]:
df.age_rating.value_counts()

4+     11806
9+      2481
12+     2055
17+      665
Name: age_rating, dtype: int64

In [ ]:
import matplotlib.pyplot as plt

df.age_rating.value_counts().plot(color = 'r', marker = 'o').grid()

In [ ]:
#wyświetlenie na szybko jako wykres słupkowy

In [ ]:
import seaborn as sns
sns.set() #nadanie stylu z biblioteki seaborn
df.age_rating.value_counts().plot(color = 'r', kind = 'bar')

In [ ]:
#jako wykres kołowy
_ = df.age_rating.value_counts().plot(kind = 'pie') #podkreślnik jako zmienna - brak wyświetlania informacji nad wykresem

In [64]:
#sprawdzamy częstość/liczność wystąpienia każdego obiektu w kolumnie price
df.price.value_counts()

0.00      14212
0.99       1078
1.99        515
2.99        471
4.99        237
3.99        163
9.99         88
11.99        59
5.99         42
6.99         32
179.99       30
7.99         17
8.99         13
19.99         9
14.99         4
12.99         3
16.99         2
29.99         2
139.99        1
99.99         1
37.99         1
36.99         1
18.99         1
59.99         1
Name: price, dtype: int64

In [66]:
#sprawdzamy częstość/liczność wystąpienia każdego obiektu w kolumnie average_user_rating
df.average_user_rating.value_counts()

4.5    2861
4.0    1722
5.0     990
3.5     925
3.0     514
2.5     317
2.0     158
1.5      60
1.0      14
Name: average_user_rating, dtype: int64

In [70]:
#average_user_rating jako lista ocen posortowana rosnąco
list(df.average_user_rating.value_counts().sort_index(ascending = True).index)

[1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [71]:
#badamy kolumnę languages
df.languages

ID
284921427     DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
284926400                                                    EN
284946595                                                    EN
285755462     DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
285831220     DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...
                                    ...
1474626442                                                   EN
1474919257                                                   EN
1474962324                                                   EN
1474963671                                                   EN
1475076711                                               EN, ZH
Name: languages, Length: 17007, dtype: object

In [73]:
df.languages.value_counts()

EN                                                                            12467
EN, ZH                                                                          354
CS, NL, EN, FR, DE, IT, JA, KO, PL, PT, RU, ZH, ES, SV, ZH, TR                  277
EN, ZH, ZH                                                                      248
EN, DE                                                                          147
                                                                              ...
DA, NL, EN, FI, FR, DE, IT, JA, KO, NO, PL, PT, RU, ZH, ES, SV, ZH, TR, UK        1
EN, FR, IT, JA, KO, PT, RU, ES, TR                                                1
DA, NL, EN, FR, DE, IT, NB, PL, PT, ZH, ES, SV, ZH, TR                            1
EN, PT, ZH                                                                        1
AR, NL, EN, FR, DE, ID, IT, JA, KO, PT, RU, ZH, ES, SV, TH, ZH, TR, VI            1
Name: languages, Length: 990, dtype: int64

Chcemy sprawdzić ile języków znajduje się w aplikacji.
W związku z tym i powyższymi danymi będziemy pracować na tekście - skorzystamy zatem z metody .str oraz metody podziału .split()

In [74]:
#elementy (języki) zostały zwrócone jako lista
df.languages.str.split(', ')

ID
284921427     [DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, P...
284926400                                                  [EN]
284946595                                                  [EN]
285755462     [DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, P...
285831220     [DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, R...
                                    ...
1474626442                                                 [EN]
1474919257                                                 [EN]
1474962324                                                 [EN]
1474963671                                                 [EN]
1475076711                                             [EN, ZH]
Name: languages, Length: 17007, dtype: object

In [75]:
#zwracamy długośc każdej listy z językami (ilośc elementów)
df.languages.str.split(', ').str.len()

ID
284921427     17.0
284926400      1.0
284946595      1.0
285755462     17.0
285831220     15.0
              ...
1474626442     1.0
1474919257     1.0
1474962324     1.0
1474963671     1.0
1475076711     2.0
Name: languages, Length: 17007, dtype: float64

In [76]:
#przypisujemy powyższą wyciągniętą ilość elementów do nowej zmiennej jako kolumna do naszego DataFrame'u
df['num_languages'] = df.languages.str.split(', ').str.len() #liczba języków dostępna w każdej aplikacji 
df.head()

,name,average_user_rating,user_rating_count,price,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date,num_languages
ID,,,,,,,,,,,,,
284921427,Sudoku,4.0,3553.0,2.99,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017,17.0
284926400,Reversi,3.5,284.0,1.99,Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018,1.0
284946595,Morocco,3.0,8376.0,0.00,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017,1.0
285755462,Sudoku (Free),3.5,190394.0,0.00,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017,17.0
285831220,Senet Deluxe,3.5,28.0,2.99,RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018,15.0

In [79]:
df.num_languages.value_counts().sort_index()

1.0      12566
2.0       1102
3.0        495
4.0        261
5.0        247
6.0        220
7.0        140
8.0        142
9.0        154
10.0       140
11.0       147
12.0        91
13.0        64
14.0        64
15.0        54
16.0       316
17.0        37
18.0        24
19.0        34
20.0        14
21.0        77
22.0        31
23.0        11
24.0        13
25.0       171
26.0        18
27.0        11
28.0         9
29.0         8
30.0        35
31.0       133
32.0        34
33.0        33
34.0         1
35.0         1
36.0         2
42.0         3
43.0         3
44.0         5
45.0         6
46.0        20
48.0         1
49.0         2
65.0         4
66.0         1
76.0         1
111.0        1
Name: num_languages, dtype: int64

# Sprawdzanie braków w danych

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17007 entries, 284921427 to 1475076711
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          17007 non-null  object
 1   average_user_rating           7561 non-null   float64
 2   user_rating_count             7561 non-null   float64
 3   price                         16983 non-null  float64
 4   developer                     17007 non-null  object
 5   age_rating                    17007 non-null  object
 6   languages                     16947 non-null  object
 7   size                          17006 non-null  float64
 8   primary_genre                 17007 non-null  object
 9   genres                        17007 non-null  object
 10  original_release_date         17007 non-null  object
 11  current_version_release_date  17007 non-null  object
 12  num_languages                 16947 non-null  float64
dtypes: float64(5), object(8)
memory usage: 1.8+ MB

In [86]:
#zwracamy informacje o liczności, również z brakami (dane: NaN)
df.average_user_rating.value_counts(dropna=False).sort_index()

1.0      14
1.5      60
2.0     158
2.5     317
3.0     514
3.5     925
4.0    1722
4.5    2861
5.0     990
NaN    9446
Name: average_user_rating, dtype: int64

Weryfikujemy wartości bez danych (NaN)

In [87]:
df.isnull()

,name,average_user_rating,user_rating_count,price,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date,num_languages
ID,,,,,,,,,,,,,
284921427,False,False,False,False,False,False,False,False,False,False,False,False,False
284926400,False,False,False,False,False,False,False,False,False,False,False,False,False
284946595,False,False,False,False,False,False,False,False,False,False,False,False,False
285755462,False,False,False,False,False,False,False,False,False,False,False,False,False
285831220,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474626442,False,True,True,False,False,False,False,False,False,False,False,False,False
1474919257,False,True,True,False,False,False,False,False,False,False,False,False,False
1474962324,False,True,True,False,False,False,False,False,False,False,False,False,False
1474963671,False,True,True,False,False,False,False,False,False,False,False,False,False
1475076711,False,True,True,False,False,False,False,False,False,False,False,False,False

In [88]:
#wyświetlamy wartości bez danych (jako zsumowane)
df.isnull().sum()

name                               0
average_user_rating             9446
user_rating_count               9446
price                             24
developer                          0
age_rating                         0
languages                         60
size                               1
primary_genre                      0
genres                             0
original_release_date              0
current_version_release_date       0
num_languages                     60
dtype: int64

Usuwanie braków w danych

Metoda `.dropna()` usuwa wiersz, w których występuje brak danych (NaN)

In [89]:
df = df.dropna()
df.isnull().sum()

name                            0
average_user_rating             0
user_rating_count               0
price                           0
developer                       0
age_rating                      0
languages                       0
size                            0
primary_genre                   0
genres                          0
original_release_date           0
current_version_release_date    0
num_languages                   0
dtype: int64

In [90]:
#informacja o danych po usunięciu braków
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7537 entries, 284921427 to 1474461379
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          7537 non-null   object
 1   average_user_rating           7537 non-null   float64
 2   user_rating_count             7537 non-null   float64
 3   price                         7537 non-null   float64
 4   developer                     7537 non-null   object
 5   age_rating                    7537 non-null   object
 6   languages                     7537 non-null   object
 7   size                          7537 non-null   float64
 8   primary_genre                 7537 non-null   object
 9   genres                        7537 non-null   object
 10  original_release_date         7537 non-null   object
 11  current_version_release_date  7537 non-null   object
 12  num_languages                 7537 non-null   float64
dtypes: float64(5), object(8)
memory usage: 824.4+ KB